simulations/*tt*/
simulations/*ff*/
simulations/*ss*/
simulations/*fs*/
simulations/*sf*/
plots/
mosfet_model/
saved_agents/
saved_memories/
saved_weights/
__pycache__/
.vscode/
.DS_Store
simulations/AMP_NMCF_vars.spice
saved_results/
plots_rewards/